body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
    color: #333333;
}

.h2_Unser_aktuelles_Speisenangebot {
    color: rgb(247, 48, 48);
    text-align: center;
    border: black solid 1px;
    border-radius: 5px;
    background-color: white;
    padding: 7px;
    margin: 20px 20px -30px 20px;
}

.main {
    text-align: center;
}

.h3 {
    color: darkolivegreen;
    padding: 7px;
    margin: 50px 20px 14px 20px;
    background-color: white;
    border-radius: 5px;
    border: black solid 1px;
}

.Speisen {
    background-color: rgb(120, 228, 120);
    width: 300px;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrapper {
    width: 740px;
    max-width: 90%;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 300px;
    padding: 7px;
}

.box {
    background-color: lightgreen;
    box-sizing: border-box;
    float: left;
    margin:10px;
    border: 1px solid black;
    height: 130px;
    border-radius: 10px;
    width: 350px;
    padding: 7px;
}

.wrapper2 {
    width: 1110px;
    max-width: 90%;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 220px;
    padding: 7px;
}

.box2 {
    background-color: lightgreen;
    box-sizing: border-box;
    float: left;
    margin:10px;
    border: 1px solid black;
    height: 90px;
    border-radius: 10px;
    width: 350px;
    padding: 7px;
}

.wrapper3 {
    width: 370px;
    max-width: 90%;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 110px;
    padding: 7px;
}

.box3 {
    background-color: lightgreen;
    box-sizing: border-box;
    float: left;
    margin:10px;
    border: 1px solid black;
    height: 90px;
    border-radius: 10px;
    width: 350px;
    padding: 7px;
}